* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.resume-page {
    color: white;
}

/* .resume-header {
    color: white;
    font-weight: 100;
    margin-bottom: 30px;
    position: absolute;
    left: 5%;
    right: 75%;
    top: 250px;
    text-wrap: wrap;
} */

/* h2 {
    font-size: 30pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    padding-bottom: 3vh;
} */

.resume-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    left: 40vw;
    width: 60vw;
    top: 10vh;
}

.resume-link {
    color: white;
    text-decoration: none;
    background-color: #d94051;
    width: fit-content;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: 300;
    margin: 20px 0;
}

.resume-link:hover {
    background-color: rgba(217, 64, 82, 0.876);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, .5);
}

.resume-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    align-items: space-around;
}

h4 {
    font-weight: 300;
    /* background-color: rgba(17, 0, 80, 0.7); */
    text-align: center;
    padding: 1vh 2vw 0 2vw;
}

h5 {
    font-weight: 200;
}

h6 {
    font-weight: 100;
}

.skillz {
    padding: 2vh 2vw;
    box-shadow: 0 0 15px 0px white;
    border-radius: 20px;
    margin: 2vh 2vw;
    background-color: rgba(17, 0, 80, 0.7);
}

@media screen and (max-width: 1000px) {

    .resume-content {
        position: absolute;
        left: 0;
        top: 250px;
        width: 100vw;
    }

    .skillz {
        font-weight: 200;
    }

}

/* @media screen and (max-width: 617px) {
    .resume-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
} */