* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.header {
    color: white;
    display: flex;
    text-align: left;
    width: 40vw;
    position: fixed;
    height: fit-content;
}

.header-h1 {
    position: absolute;
    font-size: 3.6vw;
    font-weight: 100;
    top: 0;
}

.subheader {
    position: absolute;
    top: 60px;
    font-weight: 100;
    font-size: 20pt;
}

@media screen and (max-width: 1000px) {
    .header {
        position: absolute;
        width: 100vw;
        text-align: center;
        justify-content: center;
        left: 0;
    }

    .header-h1 {
        font-size: 30pt;
    }
}

@media screen and (max-width: 550px) {
    .header {
        justify-content: center;
    }
    
    .header-h1 {
        font-size: 26pt;
    }

    .subheader {
        font-size: 16pt;
    }
}
