* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.navigation {
    display: flex;
    justify-content: center;
    width: 35vw;
    position: fixed;
}

.nav-bar {
    position: absolute;
    top: 150px;
}

.tabs {
    border: 0px;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.navigation-link {
    padding: 5px 0;

}

.nav-link {
    color: white;
    border: none;
    padding: 10px 20px;

}

.nav-link:hover {
    color: white;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(217, 64, 82, 0.5);
}

.active,.active:hover {
    color: white;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(217, 64, 82,.8);
    font-weight: 300;
}

@media screen and (max-width: 1000px) {
    .navigation {
        position: absolute;
        width: 100vw;
        left: 0;
        /* margin-left: 34px; */
        padding: 0;
    }

    .nav-bar {
        top: 150px;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .tabs {
        display: flex;
        justify-content: space-around;
        position: absolute;
        border-bottom: 1px solid white;
        width: 100vw;
        /* bottom: 0; */
    }

    .navigation-link:hover {
        font-size: 30pt;
    }

    .nav-link:hover {
        border-radius: 10px 10px 0px 0px;
        font-size: 30pt;
    }
    
    .active,.active:hover {
        border-radius: 10px 10px 0px 0px;
        font-size: 30pt;
    }

  }

  @media screen and (max-width: 600px) {
    
    .tabs {
        display: flex;
        justify-content: space-around;
    }

    .navigation-link {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        /* font-size: 3.65vw; */
        font-weight: 200;
    }
  }