:root {
  color: rgba(255, 255, 255, 0.87);
  background-image: url(./assets/background3.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

@media screen and (max-width: 800px) {
  :root {
    background-image: url(./assets/background.jpg);
    background-attachment: fixed;
  }
}

@media screen and (max-width: 550px) {
  :root {
    background-image: url(./assets/background-mobile.jpg);
    background-attachment: fixed;
  }
}